.coinpage-wrap{
    display: flex;
    border: solid white;
    color: white;
    flex-direction: column; 
}

.coin-description{
    border: solid white;
    color: white;
    min-height: 92vh;    
    background-size: 60%; 
}
.coin-charts{
border: solid white;
color: white;
min-height: 92vh;
}

/* .c-item1{ 
    min-height: 92vh;
    color: white;
    display: flex;  
    
}
 

.column{
    border: solid white;
    min-width: 50%; 
    z-index: 1; 
} */


/* Particle Network */


